/* .transferSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.transferSectionTabs{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

}
.tab
{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
      background: #053355 ;
    color: white;
} */

.transferSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.transferSectionTabs {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #ffffff;
  gap: 30px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #a3a3a3;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px #a3a3a3;
}

.tab:hover {
  background: #053355 ;
  color: white;
}

.tab svg {
  font-size: 24px; /* Adjust icon size */
  margin-bottom: 5px;
}

.tabLabel {
  margin-top: 5px;
}
.demoStyling {
  background: #e5979e;
}
.tab.active {
  font-weight: 500;
  color: #fff !important;
  /* color: #d32f2f; */
  border-radius: 5px;
  /* border-radius: 12px; */
  background: #053355 ;
  transition: all 0.2s linear;
}
