.hotel_modify_form{
    background: linear-gradient(20deg, #f73030 20%, #1d489f);
    height: 100px;
    margin: 10px 0px;
    position: relative;
}
.hotel-specific-location{
    background: linear-gradient(20deg, #f73030 20%, #1d489f);
}
.hotel-specific-location .hotel-specific-location-designing{
    border: none;

}
