.hotelsearchmobile .listProduct {
  margin: auto;
  padding: 0;
  float: left;
  width: 100%;
  /* padding-bottom: 10px; */
}

.hotelsearchmobile .outer {
  display: flex;
  padding: 0px 15px;
  overflow-x: auto;
  scrollbar-width: none;
  /* border-bottom: 1px solid #e0dede; */
  align-items: center;
}

.hotelsearchmobile ._innerbx {
  flex: 1;
  margin: 0px;
  /* margin: 0 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hotelsearchmobile ._innerbx a {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.hotelsearchmobile .flight-icon {
  width: 50px;
  height: 50px;
  margin: 11px auto;
  background: url(https://www.easemytrip.com/images/mob-emthome/flight-icon.svg);
  background-size: 100% !important;
  display: block;
  background-repeat: no-repeat !important;
}

.hotelsearchmobile .hotel-icon {
  width: 50px;
  height: 50px;
  margin: 11px auto;
  background: url(https://www.easemytrip.com/images/mob-emthome/hotel-icon.svg);
  background-size: 100% !important;
  display: block;
  background-repeat: no-repeat !important;
}

.hotelsearchmobile .holiday-icon {
  width: 32px;
  height: 45px;
  background: url(https://www.easemytrip.com/images/mob-emthome/holiday-icon.svg);
  background-size: 32px 45px;
  margin: 0px auto;
  display: flex;
  background-repeat: no-repeat !important;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 100% !important;
  display: block;
}

.hotelsearchmobile .giftcard-icon {
  width: 32px;
  height: 45px;
  background: url(https://images.emtcontent.com/mob-emthome/cabs-icon.svg);
  background-size: 32px 45px;
  margin: 0px auto;
  display: flex;
  background-size: 100% !important;
  display: block;
  background-repeat: no-repeat !important;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.hotelsearchmobile .buses-icon {
  width: 32px;
  height: 45px;
  background: url(https://images.emtcontent.com/mob-emthome/Bus-icon.svg);
  background-size: 32px 45px;
  margin: 0px auto;
  display: flex;
  background-size: 100% !important;
  display: block;
  background-repeat: no-repeat !important;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.hotelsearchmobile .listProduct .produt-icon {
  width: 28px !important;
  height: 28px !important;
  width: 28px;
  margin: auto;
  background-size: 30px 30px;
}

.hotelsearchmobile ._icnPttl {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  text-align: center;
  display: block;
  text-transform: capitalize;
}

.hotelsearchmobile .actvMenu a {
  box-shadow: 0 0 7px rgb(0 0 6 / 6%);
  border: 1px solid #dcdcff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(230, 230, 255) 100%
  );
  /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(230, 230, 255) 100%); */
  color: purple;
  padding: 5px 10px;
  border-radius: 10px;
}

.hotelsearchmobile ._innerbx2 {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 575px) {
  .listProduct {
    margin-top: 20px !important;
  }
  .hotelsearchmobile .cont_pnl {
    margin-top: 10px;
  }
  .hotelsearchmobile .pd20_n {
    background: linear-gradient(
      20deg,
      rgb(247 48 48 / 7%) 20%,
      #05335514 100%
    ) !important;
    /* background: radial-gradient(circle, #fff, #e2333b05); */
    box-shadow: #0000000d 0 0 2px, #0000001a 0 2px 8px;
  }
}
.bfYqHB {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0; /* <-- You had this commented out */
  z-index: 10000000000000000;
  transition: background 0.3s ease-in-out, border-radius 0.3s ease;
  border-radius: 0px 0px 16px 16px;
}
.dfJoHP {
  /* height: 130px; */
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fvQYhI {
  height: 130px;
  position: absolute;
  background: #053355 ;
  /* background-image: url(https://go-assets.ibcdn.com/u/GI/images/1738736962175-growth-home-mweb-bg.png); */
  width: 600px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 50% 50%;
}
.cujVDR {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
.kcGALa {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  background: rgb(225, 231, 238);
}
.gvNJBF {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' v….0814 16.1384Z' fill='%23657A97'/%3E%3C/svg%3E%0A");
}
.gKTwiJ {
  margin-left: 12px;
}
.eVApao {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}
.cWLxrp {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 13px;
  color: rgb(255, 109, 56);
  height: 18px;
  width: auto;
  background: rgb(255, 255, 255);
  border-radius: 46.17px;
  padding: 2px 6px;
}
.cWLxrp::after {
  border-style: solid;
  border-color: rgb(255, 109, 56);
  border-image: initial;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 2px;
  content: "";
  transition: 0.35s;
  transform: rotate(-45deg);
  position: relative;
  margin-left: 2px;
}
.cvEpuz.first {
  position: sticky;
  top: 78px;
  z-index: 2;
  margin-top: -58px !important;
  margin-bottom: 12px;
}
.cvEpuz {
  transition: 0.1s ease-out;
  overflow: hidden;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.mobile_search_container_list .pd20_n {
  background-color: #fff !important;
}

.mobile_search_container_list .cont_pnl {
  margin-top: 0px !important;
}

.list_product_phone_container {
  gap: 25px;
  /* margin-top: 15px; */
  overflow: auto;
}

.list_product_phone_container .custom-next3,
.list_product_phone_container .custom-prev3 {
  display: block !important;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.list_product_phone_container .custom-next3 {
  top: -5px !important;
  right: 55px !important;
}

.list_product_phone_container .custom-prev3 {
  top: -5px !important;
  left: 55px !important;
}
.fav_chevronnr {
  margin-left: 5px;
}

/* .hotelsearchmobile .swiper-wrapper {
  transition-timing-function: ease-in-out !important;
} */
